<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="width:100%" >

<div class="pageheader" th:object="${userProfile}" style="background-color:#183147;">
<img src="/images/newbanner.png" class="logoborder"   style="width:100%; "/>    
</div> 

<nav class="navbar " style="float:right;">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand" href="#">Welcome <span style="color:green;font-weight:900;" th:text="${userName}"/></div>
    </div>
    <ul class="nav navbar-nav">
    <li><a href="/ncjobsearch/myProfile"  selected  id="myprofilepage" onclick="loadMyProfile()">My Profile</a></li>
    <li><a href= "/ncjobsearch/fetchJobs" method="post"  onclick="loadCurrentDemandsView()" >Current Demands</a></li>
    <li><a href="/ncjobsearch/createDemand"  onclick="loadCreateDemandView()" th:style="${userAccess == 'USER'? 'display:none;': 'display:block;'}">Create Demand</a></li>
    <li><a href="/ncjobsearch/app"   onclick="loadCheckMyStatsView()">Applied Jobs</a></li>
    
    <li><a href="/ncjobsearch/myjoblists"   onclick="loadCheckMyJobLists()" th:style="${userAccess == 'USER'? 'display:none;': 'display:block;'}">My Job Lists</a></li>
      
    </ul>
    <form style="float:left" method="post" action="/ncjobsearch/logout">
    	<button type="submit" class="btn btn-danger navbar-btn">Log Out</button>
    </form>
  </div>
</nav>

</body>
</html>